h2 {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  padding-left: 4%;
  padding-top: 5%;
  font-size: 3rem;
}

.container {
  display: flex;
  flex-direction: row;
}

img {
  flex: 1;
  padding: 2rem;
  width: 350px;
}

p {
  width: 450px;
  font-family: "Crimson Text", serif;
  font-size: 1.4rem;
  text-align: right;
}

.videos {
}
.vl {
  border-left: 2px solid gray;
  height: 500px;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
